
<!DOCTYPE html>
<html lang="fa" dir="rtl" class="rtl">

<!-- Mirrored from www.rayanik.com/demo/modiran/admin/blank by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Mar 2021 13:28:00 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <title>نرم افزار کنترل تردد آموت سپهر</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="نرم افزار کنترل تردد آموت سپهر">
    <meta name="keywords" content="نرم افزار کنترل تردد آموت سپهر">
    <meta name="fontiran.com:license" content="NE29X">
    <link rel="shortcut icon" href="~/assets/images/favicon.png">

    <!-- BEGIN CSS -->
    <link href="~/assets/plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/plugins/bootstrap-rtl/dist/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="~/assets/plugins/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="~/assets/plugins/simple-line-icons/css/simple-line-icons.min.css" rel="stylesheet">
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="~/assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="~/assets/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/assets/plugins/paper-ripple/dist/paper-ripple.min.css" rel="stylesheet">
    <link href="~/assets/plugins/iCheck/skins/square/_all.css" rel="stylesheet">
    <link href="~/assets/css/style5bb3.css?20210322-132725" rel="stylesheet">
    <link href="~/assets/css/colors.css" rel="stylesheet">
  
    <link rel="stylesheet" href="~/assets/css/font-awesome/css/font-awesome.min.css">
    <link href="~/assets/plugins/clockpicker/dist/bootstrap-clockpicker.min.css" rel="stylesheet">
    <script type="text/javascript" src="~/DatePicker/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="~/DatePicker/js/persianDatepicker.min.js"></script>
    
</head>
<body class="active-ripple theme-blue fix-header sidebar-extra">
    <!-- BEGIN LOEADING -->
    <div id="loader">
        <div class="spinner"></div>
    </div><!-- /loader -->
    <!--<div id="loader">
        <div class="spinner"></div>
    </div>-->
    <!-- /loader -->
    <!-- END LOEADING -->
    <!-- BEGIN HEADER -->

    <partial name="Header.cshtml" />

    <!-- END HEADER -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">

        <!-- BEGIN SIDEBAR -->
        <partial name="Sidebar.cshtml" />
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE CONTENT -->
        <div id="page-content">
            <div class="row">
                <!-- BEGIN BREADCRUMB -->
                <div class="col-md-12">
                    <div class="breadcrumb-box border shadow">
                        <ul class="breadcrumb">
                            <li><a href="#">نرم افزار کنترل تردد آموت سپهر</a></li>
                        </ul>
                        <div class="breadcrumb-left">
                            @ViewData["ddd"]
                            <i class="icon-calendar"></i>
                        </div><!-- /.breadcrumb-left -->
                    </div><!-- /.breadcrumb-box -->
                </div><!-- /.col-md-12 -->
                <!-- END BREADCRUMB -->

                <div class="col-12">
                    <div class="portlet box border shadow">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h3 class="title">
                                    <i class="icon-note"></i>
                                    @ViewData["title"]
                                </h3>
                            </div><!-- /.portlet-title -->
                            <div class="buttons-box">
                                <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                                    <i class="icon-size-fullscreen"></i>
                                </a>
                                <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                                    <i class="icon-arrow-up"></i>
                                </a>
                            </div><!-- /.buttons-box -->
                        </div><!-- /.portlet-heading -->
                       @RenderBody()
                            </div><!-- /.portlet -->
                </div><!-- /.col-12 -->
            </div><!-- /.row -->
        </div><!-- /#page-content -->
        <!-- END PAGE CONTENT -->

    </div><!-- /#wrapper -->
    <!-- END WRAPPER -->

    <partial name="Footer.cshtml" />

    <!-- END SETTING -->
    <!-- BEGIN JS -->
    <script src="~/assets/plugins/jquery/dist/jquery-1.12.4.min.js"></script>
    <script src="~/assets/plugins/jquery-migrate/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/assets/plugins/popper/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/assets/plugins/paper-ripple/dist/PaperRipple.min.js"></script>
    <script src="~/assets/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/assets/plugins/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/assets/plugins/screenfull/dist/screenfull.min.js"></script>
    <script src="~/assets/plugins/iCheck/icheck.min.js"></script>
    <script src="~/assets/plugins/switchery/dist/switchery.js"></script>
    <script src="~/assets/js/core.js"></script>

    

    

    
@await RenderSectionAsync("dataTables", required: false)
@await RenderSectionAsync("persianDatepicker", required: false)



</body>

</html>