@page
@model IndexModel
@{
    ViewData["Title"] = "پیشخوان";
    ViewData["MenuHome"] = "current";
}

<div class="row">
    <div class="col-lg-3 col-6">
        <div class="stat-box bg-darkblue shadow">
            <a asp-page="/Staff/Index">
                <div class="stat">
                    <div class="counter-down">@ViewData["StaffCount"]</div>
                    <div class="h3">تعداد پرسنل</div>
                </div><!-- /.stat -->
                <div class="visual">
                    <i class="icon-people"></i>
                </div><!-- /.visual -->
            </a>
        </div><!-- /.stat-box -->
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3 col-6">
        <div class="stat-box bg-blue shadow">
            <a href="#">
                <div class="stat">
                    <div class="counter-down">1283</div>
                    <div class="h3">تعداد ترددها</div>
                </div><!-- /.stat -->
                <div class="visual">
                    <i class="icon-present"></i>
                </div><!-- /.visual -->
            </a>
        </div><!-- /.stat-box -->
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3 col-6">
        <div class="stat-box bg-orange shadow">
            <a href="#">
                <div class="stat">
                    <div class="counter-down">2</div>
                    <div class="h3">تعداد دستگاه ها</div>
                </div><!-- /.stat -->
                <div class="visual">
                    <i class="icon-diamond"></i>
                </div><!-- /.visual -->
            </a>
        </div><!-- /.stat-box -->
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3 col-6">
        <div class="stat-box bg-red shadow">
            <a href="#">
                <div class="stat">
                    <div class="counter-down">21</div>
                    <div class="h3">پیام های دریافتی</div>
                </div><!-- /.stat -->
                <div class="visual">
                    <i class="icon-bubbles"></i>
                </div><!-- /.visual -->
            </a>
        </div><!-- /.stat-box -->
    </div><!-- /.col-lg-3 -->
</div><!-- /.row -->